/*
===============================================================================================================================
Put your custom CSS in this file.
===============================================================================================================================
*/

#top-bar {
        display: none;
}

.hide_h1 {
	display: none;
}

